{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "post" }}
    <span class="article-date">{{ .Date.Format "January 2, 2006" }}</span>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

  {{ if eq .Section "post" }}
  <hr>
  <h3>Interactions with this post via <a href="https://indieweb.org/webmention">WebMention</a></h3>
  You can comment via <a href="https://commentpara.de">Comment Parade</a> or submit a response url here
  <form action="https://webmention.io/{{ (urls.Parse .Site.BaseURL).Host }}/webmention" method="post">
    <input name="source" placeholder="https://example.com/response" type="url">
    <input name="target" value="{{ .Permalink }}" type="hidden">
    <input value="Send Webmention" type="submit">
  </form>
  <div id="webmentions"></div>
  <noscript>JavaScript is required to render webmentions</noscript>
  {{ end }}

</main>

{{ partial "footer.html" . }}
