      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="{{ .Site.RSSLink }}" type="application/rss+xml" target="_blank">RSS feed</a>
          </li>
          <li>
            <a href="https://gitlab.com/Limero/limero.gitlab.io" class="footer-links-kudos">Source code</a>
          </li>
        </ul>
      </footer>

    </div>
    <script src="{{ .Site.BaseURL }}js/webmention.js" data-id=webmentions data-page-url={{ .Permalink }} async></script>
  </body>
</html>
